[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
nltk = "*"
mkl = "*"
numpy = "*"
scipy = "*"
gensim = "*"
h5py = "*"
sklearn = "*"
patterns = "*"
pylt3 = {editable = true, path = "."}
skorch = "*"
allennlp = "*"
spacy = "*"
pandas = "*"
lxml = "*"
torch = "*"
twine = "*"

[dev-packages]
tornado = "*"
pygments = "*"
jupyter-contrib-nbextensions = "*"
jupyter-nbextensions-configurator = "*"
notebook = "*"
pattern = "*"
jupyter = "*"
