[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
nltk = "*"
mkl = "*"
numpy = "*"
scipy = "*"
gensim = "*"
h5py = "*"
sklearn = "*"
patterns = "*"
pylt3 = {editable = true, path = "."}
torch = {file = "https://download.pytorch.org/whl/cu100/torch-1.0.1-cp37-cp37m-win_amd64.whl"}
skorch = "*"
allennlp = "*"
spacy = "*"
pandas = "*"
lxml = "*"

[dev-packages]
tornado = "*"
pygments = "*"
jupyter-contrib-nbextensions = "*"
jupyter-nbextensions-configurator = "*"
notebook = "==5.7.5"
pattern = "*"
jupyter = "*"
